{% extends 'base.html.twig' %}

{% block title 'Tous nos biens' %}
{% block body %}
    <div class="container mt-4">
        <h1>Voir tous nos biens</h1>

    {% if biens is defined %}
        {% for bien in biens %}
            {{ bien.getTitle() }} <br>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}